streamlit>=1.31.0
selenium>=4.15.2
webdriver-manager>=4.0.1
playwright>=1.40.0
playwright-stealth>=1.0.6
loguru>=0.7.2
pandas>=2.1.4
gspread>=6.0.2
google-auth>=2.25.2
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
spacy>=3.7.2
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl
python-dotenv>=1.0.0
