streamlit>=1.31.0
playwright>=1.40.0
playwright-stealth>=1.0.6
loguru>=0.7.0
pandas>=2.1.0
gspread>=6.0.0
google-auth>=2.25.0
google-auth-oauthlib>=1.2.0
google-auth-httplib2>=0.2.0
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.7.0/es_core_news_md-3.7.0-py3-none-any.whl
python-dotenv>=1.0.0
